* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
h1{
    text-align: center;
    background-color: rgb(138, 240, 251);
    color: rgb(250, 50, 50);
    padding: 20px;
}
#firstcontainer{
    border-radius: 10px;
    
    margin-left: 150px;
    margin-top: 70px;
    background-color: antiquewhite;
    padding : 50px 0px 30px 50px;
}
#secondcontainer{
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 70px;
    background-color:aquamarine;
    padding : 50px 0px 30px 50px;
    font-size: 20px;
}
label{
    font-size: 20px;
    font-weight: 200;
}
#name,#email{
    margin-left: 100px;
    margin-top: 10px;
}
#occupation,#im{
    margin-left: 56px;
    margin-top: 10px;
}
#age{
    margin-left: 115px;
    margin-top: 10px;
}
#male{
    margin-left: 110px;
    margin-top: 20px;
}
#female{
    margin-left: 15px;
}
.in{
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid white;
}
button{
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
}
#register{
    color: white;
    border: 2px solid  rgb(138, 240, 251);;
    background-color:  rgb(138, 240, 251);
}
#clear{
    margin-left: 100px;
    color: white;
    background-color: rgb(250, 50, 50);
    border: 2px solid rgb(250, 50, 50);
}
#clear:hover{
    background-color: rgb(193, 33, 33);;
}
#register:hover{
    background-color:  rgb(100, 234, 249);
}
